<link href="https://fonts.googleapis.com/css2?family=Kufam:ital@1&display=swap" rel="stylesheet">

<div class="landing">
  <div class = "hori-centered">
    <h1>Dealer</h1>
    <p>A simple app designed for HowdyHack 2020</p>
      <a mat-raised-button href="https://google.com" target="new" disableRipple="false" isRoundButton="true">DevPost</a>
  </div>
</div>

<div class="about-area">
  <div class="about-centered">
    <h1>About</h1>
    <p>
      The web-app for Dealer is written in Angular, and has an express/node js backend with a MongoDB atlas cluster as it's storage.
      <br>
      Both parts of the web app come pre-built and ready to deploy with one command and can be ran on virtually any machine with a screen!
      <br><br>
      The other part of the app is the IOS application that was written in Swift, and pulls info from the backend regarding specific users, granted that they are on the same network
      <br>
      <br>
      Be sure to check out our DevPost to see more about the app and it's code.
    </p>
  </div>
</div>
